<div id="create">
  
  <h1> Create a Tournament</h1>
  <form novalidate name="createForm" ng-submit="createTournament()">
    
    <label>Tournament Name</label>
    <md-input-container>
      <input type="text" name="name" ng-model="tournament.name">
    </md-input-container>
  
    <label>Unique URL</label>    
    <md-input-container>
      <input type="text" name="shortname" ng-model="tournament.shortname">
    </md-input-container>
    

    <label>Game</label>
    <md-select ng-model="tournament.game">
      <md-option ng-repeat="game in games" value="{{game.name}}" aria-label="Game selection">
        {{game.name}}
      </md-option>
    </md-select>

    <label>Tournament Type</label>
    <md-select ng-model="tournament.type">
      <md-option ng-repeat="type in types" value="{{type.name}}" aria-label="Type selection">
        {{type.name}}
      </md-option>
    </md-select>
     
    <md-button class="md-raised md-primary" type="submit">Create</md-button>

  </form>

</div>
