<div id="find">
  
  <h1> Find Tournaments</h1>

  <md-data-table-toolbar>
    <h2 class="md-title">Tournaments</h2>
  </md-data-table-toolbar>

  <md-data-table-container>
  <table md-data-table md-progress="deferred">
    <thead md-order="name" md-trigger="onOrderChange">
      <tr>
        <th name="Tournament" order-by="name"></th>
        <th name="Game" order-by="name"></th>
        <th name="Type" order-by="name"></th>
        <th name="Status" order-by="name"></th>
        <th numeric name="Owner" order-by="tournament.OwnerId"></th>
      </tr>
    </thead>
    <tbody>
      <tr md-auto-select ng-click="explore(tournament)" ng-repeat="tournament in tournaments | orderBy: order">
        <td>{{tournament.name}}</td>
        <td>{{tournament.Game.name}}</td>
        <td>{{tournament.Type.name}}</td>
        <td>{{tournament.Status.name}}</td>
        <td>{{tournament.Owner.first}} {{tournament.Owner.last}}</td>
      </tr>
    </tbody>
  </table>
</md-data-table-container>

</div>
