<div id="join">
  
  <h1> Join a Tournament</h1>

  <md-input-container>
    <input type="text" ng-model='filter' aria-label="filter">
  </md-input-container>

  <md-list ng-cloak>
    <md-list-item ng-repeat="tournament in tournaments | filter: filter">
        <h2><b>{{tournament.name}}</b></h2>
        <h4>{{tournament.Game.name}}</h4>
        <h5>{{tournament.Type.name}}</h5>
        <form novalidate name="joinForm" ng-submit="join()">
          <md-button type="submit" class="md-raised md-warn" href="/#/nav/tournaments/{{tournament.shortname}}">Join</md-button>
        </form>
    </md-list-item>
  </md-list>

</div>
