<div id="join">
  
  <h1> Join a Tournament</h1>


  <md-input-container>
    <input type="text" ng-model='filter' aria-label="filter">
  </md-input-container>

  <md-list>
    <md-list-item class="md-3-line" ng-repeat="tournament in tournaments | filter: filter">
      <div class='md-list-item-text'>
        <h3>{{tournament.name}}</h3>
        <h4>{{tournament.Game.name}}</h4>
        <p>{{tournament.Type.name}}</p>
        <md-button class="md-raised md-primary" type="submit">Join</md-button>
      </div>
    </md-list-item>
  </md-list>

</div>
