<div id="tournament" ng-model="tournament">
  
  
  <md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools">
      <span> <b> {{tournament.name}} </b></span>
      <!-- fill up the space between left and right area -->
      <span flex></span>
      <span>{{tournament.Game.name}}</span>
      <span flex></span>
      <span>{{tournament.Type.name}}</span>
      <span flex></span>
      
      <form novalidate name="joinForm" ng-submit="joinTournament()">

        <md-button class="md-raised md-warn">Join</md-button>

      </form>   
  
    </div>
  </md-toolbar>

  <md-data-table-toolbar>
    <span><h2 class="md-title">{{numberPlayers}} Participants</h2></span>
    <span flex></span>
    <span><h2 class="md-title">{{numberRounds}} Rounds</h2></span>
    <span flex></span>
    <span><h2 class="md-title">Status: {{tournament.Status.name}}</h2></span>

  </md-data-table-toolbar>

  <md-data-table-container>
  <table md-data-table md-progress="deferred">
    <thead md-order="query.order" md-trigger="onOrderChange">
      <tr>
        <th name="Name" order-by="participant.User.first"></th>
        <th name="Email" order-by="participant.User.email"></th>
        <th name="Role"></th>
      </tr>
    </thead>
    <tbody>
      <tr md-auto-select ng-repeat="(key, participant) in participants | orderBy: order">
        <td>{{participant.User.first}} {{participant.User.last}}</td>
        <td>{{participant.User.email}}</td>
        <td><span ng-if="participant.User.id == tournament.OwnerId">Owner</span><span ng-if="participant.User.id != tournament.OwnerId">Participant</span></td>
      </tr>
    </tbody>
  </table>
</md-data-table-container>

  <form novalidate name="drawForm" ng-submit="getCircles()">

    <md-button class="md-raised md-warn">Bracket Time</md-button>

  </form> 

    
  <bracket
      ng-init="getCircles()"
      data="circles">
  </bracket>

</div>
