<div id="tournament" ng-model="tournament">
  
  
  <md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools">
  
      <span> <b> {{tournament.name}} </b></span>
      <span flex></span>
      <span>{{tournament.Game.name}}</span>
      <span flex></span>
      <span>{{tournament.Type.name}}</span>
      <span flex></span>
      
      <form novalidate name="joinForm" ng-submit="joinTournament()">
        <md-button class="md-raised md-warn">Join</md-button>
      </form>   
    
    </div>
  </md-toolbar>

  <md-data-table-toolbar>
    <span><h2 class="md-title">{{numberPlayers}} Participants</h2></span>
    <span flex></span>
    <span><h2 class="md-title">{{numberRounds}} Rounds</h2></span>
    <span flex></span>
    <span><h2 class="md-title">Status: {{tournament.Status.name}}</h2></span>
  </md-data-table-toolbar>

<!-- Participant Data Table: Could be useful during initial "Upcoming" stage -->
  <md-data-table-container ng-if="tournament.StatusId === 1">
  <table md-data-table md-progress="deferred">
    <thead md-order="query.order" md-trigger="onOrderChange">
      <tr>
        <th name="Name" order-by="participant.User.first"></th>
        <th name="Email" order-by="participant.User.email"></th>
        <th name="Role"></th>
      </tr>
    </thead>
    <tbody>
      <tr md-auto-select ng-repeat="(key, participant) in participants | orderBy: order">
        <td>{{participant.User.first}} {{participant.User.last}}</td>
        <td>{{participant.User.email}}</td>
        <td><span ng-if="participant.User.id == tournament.OwnerId">Owner</span><span ng-if="participant.User.id != tournament.OwnerId">Participant</span></td>
      </tr>
    </tbody>
  </table>
</md-data-table-container>

  <!-- List bracket view -->
  <form novalidate name="matchForm" ng-submit="generateBracket()">
    <md-button class="md-raised md-warn">Generate the brackets</md-button>
  </form>

  <div layout="row" class="bracket">
    <div flex ng-repeat="round in rounds track by $index" layout="column" layout-align="center">
      
      <md-list ng-if="round === match.round" ng-repeat="match in matches track by $index" class="matchup">   
  
        <md-list-item class="matchup-item">
          <p ng-click="winRound(match, match.PlayerOne)" ng-class="{ 'winRound' : match.PlayerOneId === match.WinnerId }">
           {{match.PlayerOne.first}} {{match.PlayerOne.last}}
          </p>
        </md-list-item>
        
        <md-list-item class="matchup-item">
          <p ng-click="winRound(match, match.PlayerTwo)" ng-class="{ 'winRound' : match.PlayerTwoId === match.WinnerId }">
          {{match.PlayerTwo.first}} {{match.PlayerTwo.last}}
          </p>
        </md-list-item>
          
      </md-list>
      
        <div ng-if="round === rounds.length">
          <p class="winner"> {{tournament.Winner.first}} {{tournament.Winner.last}} </p>
        </div>         

    </div>
  </div>
<!-- 
  <div id="list-bracket" ng-model="matches">
  </div> -->

</div>
