<div id="signin">
  
  <h1> Sign In </h1>
  <form novalidate name="signinForm" ng-submit="signin()">
        
    <md-input-container>
      <input type="email" name="email" ng-model="user.email" placeholder="Email">
    </md-input-container>
    
    <md-input-container>
      <input type="password" name="password" ng-model="user.password" placeholder="Password">
    </md-input-container>
    
    <md-button class="md-raised md-primary" type="submit">Sign In</md-button>

  </form>

  <p> Need an account? </p>
  <md-button class="md-raised" href="/#/nav/signup">Register</md-button>

</div>
